.modalWrapper {
  position           : fixed;
  inset              : 0;
  backdrop-filter    : saturate(0.5) brightness(0.5);
  background-color   : #00000004;
  z-index            : 7;
  
  // Perfomance
  backface-visibility: hidden;
  perspective        : 1000;
  transform          : translate3d(0, 0, 0);
  transform          : translateZ(0);
}